[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
requests = "*"
pynvim = "0.5.0"
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.8"
